* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  --quoteFont: "Kaushan Script", cursive;
  --backgroundColor: #fafafa;
  --imgBorderColor: #e5e7e8;
  --backgroundDisclaimer: black;
}

body {
  padding: 0.5em 1em;
  padding-top: 0em;
  min-height: 100vh;
  margin: 0;
  background-color: var(--backgroundColor);
  display: grid;
}

#content {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-auto-flow: row;
}

#content header {
  height: fit-content;
  padding: 0.25em 0.5em;
  position: sticky;
  top: 0px;
  z-index: 1;
  transition: background-color ease 100ms;
}

#content header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#content ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

#content a {
  text-decoration: none;
}

#content a.navLink.selected {
  font-weight: 700;
  pointer-events: none;
}

#content ul a {
  color: black;
}

#content header.scrolled {
  background-color: rgba(229, 231, 232, 0.75);
}

#content header > nav nav:first-of-type {
  width: 30%;
}

#content header > nav nav:last-of-type {
  width: 30%;
}

#content header h1#logo {
  font-size: 1.5rem;
}

/*Home Page*/
main section#mainBanner {
  width: 100%;
  height: 30em;
  background-image: url("./images/burger_eat.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid var(--imgBorderColor);
}

main section#mainBanner blockquote {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0.5em;
  font-size: 1.25rem;
  font-style: italic;
  font-family: var(--quoteFont);
  color: var(--backgroundColor);
  letter-spacing: 0.1em;
}

main section#disclaimer {
  margin-top: 2em;
  background-color: var(--backgroundDisclaimer);
  text-align: center;
  color: var(--backgroundColor);
  padding: 2em 0.2em;
}

main section#disclaimer a {
  color: red;
}

main section#disclaimer h1 {
  font-size: 2rem;
  letter-spacing: 0.1em;
}

main section#disclaimer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5em;
}

main section#disclaimer form input[type="submit"] {
  background-color: var(--backgroundColor);
  border: none;
  padding: 0.5em 2em;
}

main section#disclaimer form input[type="submit"]:hover {
  cursor: pointer;
}
/*End of Home Page*/
footer {
  text-align: center;
  letter-spacing: 0.1em;
  padding: 0.75em 0.5em;
}
